@model Guid
@{
    ViewData["Title"] = "Edit Country";
}

<h1>Edit Country</h1>

<form method="post" class="uk-form-stacked">

    <p v-if="Errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
            <li class="uk-form-danger" v-for="error in Errors">{{ error }}</li>
        </ul>
    </p>
    <div class="uk-margin uk-grid-small">
        <label class="uk-form-label">Name:</label>
        <div class="uk-form-controls uk-margin">
            <input class="uk-input" type="text" placeholder="Enter Name" v-model="Name" />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Capital:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder="Enter Capital" v-model="Capital" />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Population:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="number" min="1" value="1" placeholder="Enter Population" v-model="Population" />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Currency:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" maxlength="20" placeholder="Enter currency" v-model="Currency" />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Flag:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="file" id="image" name="image" placeholder="Select file" />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Description:</label>
        <div class="uk-form-controls">
            <textarea class="uk-input" placeholder="Give the country a description" v-model="Description" rows="6" cols="80"></textarea>
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-form-controls">
            <label><input class="uk-radio" type="radio" value="EUMember" v-model="IsEUMember" />EU Member?</label>
        </div>
    </div>
</form>

<div class="uk-button-group">
    <a class="uk-button-primary" style="padding:10px;margin:10px" v-on:click="check()">Save</a>
    <a class="uk-button-danger" style="padding:10px;margin:10px" asp-controller="Country" asp-action="Index">Go back</a>
</div>

@section Scripts{
    <script>
        var baseUrl = 'https://localhost:5001/api/countries';
        var app = new Vue({
            el: '#app',
            data: {
                Id: "",
                Name: "",
                FlagUrl: "",
                Population: 0,
                IsEUMember: "",
                Capital: "",
                Currency: "",
                Description: "",
                Favourites: new Array(),
                CountryPhotoMemories: new Array(),
                CountryWishlists: new Array(),
                Errors: []
            },

            created: function () {
                var token = sessionStorage.getItem('token');
                if (token != null) {
                    var self = this;
                    self.GetCountry();
                }
                else {
                    window.location.href = window.location.origin + '/NotAllowed';
                }
                
            },

            methods: {
                check: function () {
                    var self = this;
                    self.CheckData = true;
                    self.Errors = new Array();
                    if (self.Name.length == 0) {
                        self.CheckData = false;
                        self.Errors.push("Enter a name");
                    }
                    if (self.Description.length == 0) {
                        self.CheckData = false;
                        self.Errors.push("Enter a description");
                    }
                    if (self.Capital.length == 0) {
                        self.CheckData = false;
                        self.Errors.push("Enter a capital");
                    }
                    if (self.Currency.length == 0) {
                        self.CheckData = false;
                        //Misschien niet politiek neutraal, maar een grapje mag wel eens verteld worden hé 😁
                        self.Errors.push("Enter a currency. Do you really expect the government to hand out free stuff?? 🙄");
                    }
                    if (self.Population <= 0) {
                        self.CheckData = false;
                        self.Errors.push(`Population cannot be ${self.Population}. Please enter a value higher than 0.`);
                    }
                    if (self.CheckData == true) {
                        self.EditCountryFlag()
                    }
                },

                GetCountry: function() {
                    var self = this;

                    axios.get(`${baseUrl}/@Model`)
                        .then(function (response) {
                            self.Id = response.data.id;
                            self.Name = response.data.name;
                            self.FlagUrl = response.data.flagUrl;
                            self.Population = response.data.population;
                            self.Capital = response.data.capital;
                            self.Currency = response.data.currency;
                            self.Description = response.data.description;
                            self.Favourites = response.data.favourites;
                            self.CountryPhotoMemories = response.data.countryPhotoMemories;
                            self.CountryWishlists = response.data.countryWishlists;
                            if (response.data.isEUMember == true) self.IsEUMember = "EUMember";
                        })
                        .catch(function (error) {
                            self.Errors.push(error.response.data);
                        });
                },
                EditCountryFlag: function () {
                    var self = this;
                    formData = new FormData();
                    formData.append('flag', $('#image')[0].files[0]);
                    axios.put(`${baseUrl}/${self.Name}/flag/update`, formData, { headers: { "Content-Type": "multipart/form-data" } })
                        .then(function (response) {
                            self.FlagUrl = response.data;
                            self.UpdateCountry();
                        })
                        .catch(function (error) {
                            self.Errors.push(error.response.data);
                        });
                },

                UpdateCountry: function () {
                    var self = this;
                    var country = {
                        id: self.Id,
                        name: self.Name,
                        flagUrl: self.FlagUrl,
                        population: Number(self.Population),
                        capital: self.Capital,
                        currency: self.Currency,
                        description: self.Description,
                        favourites: self.Favourites,
                        isEUMember: self.IsEUMember,
                        favourites: self.Favourites,
                        countryPhotoMemories: self.CountryPhotoMemories,
                        countryWishlists: self.CountryWishlists,
                        isEUMember: false,
                    };
                    if (country.isEUMember.length > 0) country.isEUMember = true;
                    axios.put(`${baseUrl}/update/${self.Id}`, country)
                        .then(function (response) {
                            alert("Country has been updated succesfully");
                            window.location.href = window.location.origin + '/Country';
                        })
                        .catch(function (error) {
                            self.Errors.push(error.response.data);
                        });
                }
            }
        });
    </script>
} 