@{
    ViewData["Title"] = "Home Page";
    Layout = "_Login";
}

<div class="uk-vertical-align uk-text-center uk-height-1-1" id="app">
    <div class="uk-vertical-align-middle" style="width: 250px;margin-top:50px">
        <img class="uk-margin-bottom" width="140" height="120" src="~/Images/Logo.png" alt="Logo" />

        <form class="uk-panel uk-panel-box uk-form">
            <div class="uk-form-row">
                <input class="uk-width-1-1 uk-form-large" name="email" id="email" type="email" placeholder="Email" v-model="Email">
            </div>
            <div class="uk-form-row">
                <input class="uk-width-1-1 uk-form-large" name="password" id="password" type="password" placeholder="Password" v-model="Password">
            </div>
            <div class="uk-form-row">
                <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" v-on:click="login()">Login</a>
            </div>
            <div class="uk-form-row uk-text-small">
                <span class="uk-form-danger">{{Error}}</span>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        var baseUrl = 'https://localhost:5001/api/countries';
        var app = new Vue({
            el: '#app',
            data: {
                Email: "",
                Password: "",
                Error: ""
            },

            created: function () {
                var self = this;
                self.title = "Dashboard";
            },

            methods: {
                login: function () {
                    var self = this;
                    var user = {
                        email: self.Email,
                        password: self.Password
                    };

                    axios.post(`${baseUrl}/users/login`, user)
                        .then(function (response) {
                            var jwt = JSON.parse(atob(response.data.token.split('.')[1]));
                            if (jwt.role == "Admin") {
                                sessionStorage.setItem('token', response.data.token);
                                window.location.href = window.location.origin + '/Home';
                            }
                            else if (jwt.spotifydj == "true") {
                                sessionStorage.setItem('token', response.data.token);
                                window.location.href = window.location.origin + '/SpotifyDj';
                                }
                            else
                                self.Error = "You're not an admin. Please, do not hack my website 😥"
                        })
                        .catch(function (error) {
                            self.Error = error.response.data
                        });
                }
            }
        });
    </script>
}
